<!--
 * @FileName: 
 * @Description: 
 * @Autor: Liujunjie/Aries-441
 * @StudentNumber: 521021911059
 * @Date: 2023-10-09 23:59:22
 * @E-mail: sjtu.liu.jj@gmail.com/sjtu.1518228705@sjtu.edu.cn
 * @LastEditTime: 2023-10-22 03:00:42
-->
{% extends "base_withoutheader.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
.full-screen {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgba(255,255,255,0);
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



#togglePasswordBtn {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#eyeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
}
</style>
<!-- 添加FontAwesome图标库的CSS链接 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script>

  document.getElementById("loginForm").addEventListener("submit", function(event) {
    event.preventDefault(); // 阻止表单默认提交行为
    return false; // 阻止表单提交
  });

  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("{{ form.password.id_for_label }}");
    var togglePasswordBtn = document.getElementById("togglePasswordBtn");
  
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      togglePasswordBtn.querySelector("i").classList.remove("fa-eye");
      togglePasswordBtn.querySelector("i").classList.add("fa-eye-slash");
    } else {
      passwordInput.type = "password";
      togglePasswordBtn.querySelector("i").classList.remove("fa-eye-slash");
      togglePasswordBtn.querySelector("i").classList.add("fa-eye");
    }
  
    // Reset password visibility after 3 seconds
    setTimeout(function() {
      passwordInput.type = "password";
      togglePasswordBtn.querySelector("i").classList.remove("fa-eye-slash");
      togglePasswordBtn.querySelector("i").classList.add("fa-eye");
    }, 3000);
  }
  
  function checkSpecialCharacters(input) {
    var regex = /[/?!*<>&"']/;
    if (regex.test(input)) {
      alert("用户名中包含特殊字符，请删除后再提交。");
      return false;
    }
    return true;
  }

  function validateForm() {
    var usernameInput = document.getElementById("username").value;
    if (!checkSpecialCharacters(usernameInput)) {
      return false;
    }
  }


  function encryptPassword() {
    var passwordInput = document.getElementById("{{ form.password.id_for_label }}");
    var password = passwordInput.value.trim();
    // 使用 CryptoJS 进行 SHA256 加密
    var encryptedPassword = CryptoJS.SHA256(password).toString();
    // 替换密码字段的明文值为加密后的值
    passwordInput.value = encryptedPassword;
    return true; // 允许表单提交
  }


</script>


<body class="full-screen">
  <!-- 线条背景动画 -->
<script src="https://files.cnblogs.com/files/blogs/694608/js.js" color="0,0,255" opacity="1" count="119" zindex="-2">
</script>
  <div class="header">  {% include "loginheadertest.html"%}</div>
  <div class="row text-center vertical-middle-sm separator">
    <div class="col-md-6" >

      <div class="log-con log-bxsd" style="height: 400px" >
        <div class="log-tit">
          <h3>通知公告</h3>
          <span>Notification</span>
        </div>

        <div class="log-not clearfix" style="height: 200px" id="newsnotice">
          <!--<h1>Website Name</h1>-->
        </div>				  
  
        <div class="log-fst" style="height: 200px" id="links">
          <!--<h1>test001</h1>-->
          
        </div> 
      </div>

    </div>

    <div class="col-md-6" >

      <div class="log-con log-bxsd" style="height: 400px" >
        <div class="log-tit">
          <h3>登录</h3>
          <span>Login</span>
        </div>
        <div class="log-not clearfix" style="height: 250px" id="newsnotice">
          <p style="margin-top: 60px"></p>
          <p>Input your username and password</p>
          <p style="margin-top: 10px"></p>

          <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post" onsubmit="return encryptPassword()&validateForm()" id="loginForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color: red">
                <span class="glyphicon glyphicon-user"></span>Username
              </label>
              <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group">
              <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color: blue">
                <span class="glyphicon glyphicon-lock"></span>Password
              </label>
              <div class="col-md-6 text-left">
                
                <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control">
                <button type="button" id="togglePasswordBtn" onclick="togglePasswordVisibility();">
                  <span class="input-group-text" id="togglePassword" style="cursor: pointer;"><i class="fas fa-eye"></i></span>
                </button>

                
              </div>
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="Login" >
          </form>


        </div>				  
  
        <div class="log-fst" style="height: 250px" id="links">
          <p style="margin-top: 5px">
            Forgot your password? <a href="{% url 'account:password_reset' %}"
             style="color:red;">reset password</a></p>
            <p style="margin-top: 10px">
              If you don't have a username, <a href="{% url 'account:user_register' %}" style="color: blue;">Register to be a user</a>, please.
            </p>     
        </div> 
      </div>


    </div>
  </div>
</body>

{% endblock %}