{% extends "base.html" %}
{% block title %}my information{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Edit My Information</h1>
    <div class="col-md-6">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-4 text-right"><span>用户名：</span></div>
                <div class="col-md-8 text-left">{{ user.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>年龄：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.age }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>学院：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.school}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>专业：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.department }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>邮箱：</span></div>
                <div class="col-md-8 text-left">{{ user_form.email }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>手机号：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.phone }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>个人介绍：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.aboutme }}</div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <p>picture</p>
    </div>
</div>
{% endblock %}