<!DOCTYPE html>
<html>
<head>
    <title>自定义块样式</title>
    <style>
        .fore_header {
            background-color: #8B0000;
            color: white;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        .fore_header p {
            margin: 0;
            font-size: 26px;
            padding-left: 23px;
        }
    </style>
</head>
<body>
    <div class="fore_header" style="height: 45px;">
        <p>上海交通大学社团信息服务网</p>
    </div>
</body>
</html>