{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}Message Information{% endblock %}

{% block content %}

<style>
    body {
        background-image: url("{% static './images/background3.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .information {
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.7);
        border-radius: 10px;
        max-width: 700px;
    }

    .information span{
        font-weight: bold;
        margin-left: 80px;
    }

    .fontstyle{
        font-size: 25px;
        margin-bottom: 50px;
    }


</style>

<div class="information">

    <div class="fontstyle"><span>活动名：</span>{{ activity.name }}</div>
    <div class="fontstyle"><span>活动开始时间：</span>{{ activity.begin_date | timezone:"Asia/Shanghai" | date:"Y-m-d H:m:s" }}</div>
    <div class="fontstyle"><span>活动结束时间：</span>{{ activity.begin_date | timezone:"Asia/Shanghai" | date:"Y-m-d H:m:s" }}</div>
    <div class="fontstyle"><span>活动描述：</span>{{ activity.description }}</div>


</div>

{% endblock %}