{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}Message Information{% endblock %}

{% block content %}

<style>
    body {
        background-image: url("{% static './images/background3.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .information {
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.7);
        border-radius: 10px;
        max-width: 700px;
    }

    .information span{
        font-weight: bold;
        margin-left: 80px;
    }

    .fontstyle{
        font-size: 25px;
        margin-bottom: 50px;
    }


</style>

<div class="information">

    <div class="fontstyle"><span>活动名：</span>{{ activity.name }}</div>
    <div class="fontstyle"><span>活动开始时间：</span>{{ activity.begin_date | timezone:"Asia/Shanghai" | date:"Y-m-d H:m:s" }}</div>
    <div class="fontstyle"><span>活动结束时间：</span>{{ activity.begin_date | timezone:"Asia/Shanghai" | date:"Y-m-d H:m:s" }}</div>
    <div class="fontstyle"><span>活动描述：</span>{{ activity.description }}</div>

    <div style="display: flex; justify-content: center;">
        <button class="btn btn-primary btn-lg" style="margin-left: 20px" onclick="delete_activity({{ activity.id }})">删除该活动!</button>
    </div>
</div>




<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
    function delete_activity(activity_id){
        var index = layer.open({
            type: 1,
            skin:"layui-layer-rim",
            area: ["400px","200px"],
            title: "Comfirmation",
            content: '<div class="text-center" style="margin-top: 20px"><p>确定要删除{{ activity.name }}嘛~</p></div>',
            btn: ['Yes','No'],
            yes: function (index,layero){
                $.ajax({
                    url: "{% url 'club:delete_activity' %}",
                    type: "POST",
                    data: {"activity_id":activity_id},
                    success: function (e){
                        if(e=="1"){
                            layer.msg("deleted~");
                            window.location.href = "{% url 'club:list_activity' club_id %}";
                        }
                        else{
                            layer.msg("delete error!");
                        }
                    },
                });
            },
            btn2: function (index,layero){
                layer.close(index);
            },
        });
    }
</script>
{% endblock %}