{% extends "base.html" %}
{% load static %}
{% block title %}我的信息{% endblock %}
{% block content %}

<style>
    body {
        background-image: url("{% static './images/ad_background.jpeg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .information {
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(245, 245, 245, 1);
        border-radius: 10px;
        max-width: 600px;
    }

</style>


<div class="text-center">
    <div>
        <h1 style="font-weight: bold">{{ ad.title }}</h1>
        <p style="margin-top: 20px; font-size:15px;">所属社团：{{ club_name }}</p>
    </div>

    <div style="margin-top: 20px;">
    {% if ad.video %}
    <video src="{{ ad.video.url }}" controls="controls" class="text-center" height="500px" width="1000px"></video>
    {% else %}
    <p style="margin-top: 20px; font-size:30px; font-weight: bold">这个广告没有配套视频~</p>
    {% endif %}
    </div>
    <div class="text-left" style="margin-left: 70px; margin-top: 20px; font-size: 20px;">
        {% if ad.attach %}
        <p><a href="{{ ad.attach.url }}">{{ ad.attach.name | cut:"club/club_" }}</a></p>
        {% endif %}
    </div>
    <div class="information">
        <div style="font-size:25px; font-weight: bold"><span>广告描述：</span></div>
        <div class="text-left" style="margin-top: 5px;">{{ ad.content }}</div>
    </div>

</div>



{% endblock %}
