{% extends "base.html" %}
{% block title %}my information{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Edit Information of Ad</h1>
    <div class="col-md-6">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-4 text-right"><span>广告标题：</span></div>
                <div class="col-md-8 text-left">{{ ad_form.title }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>广告状态：</span></div>
                <div class="col-md-8 text-left">{{ ad_form.show }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>广告描述：</span></div>
                <div class="col-md-8 text-left">{{ ad_form.content }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>视频：</span></div>
                <div class="col-md-8 text-left">{{ ad_form.video }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>附件：</span></div>
                <div class="col-md-8 text-left">{{ ad_form.attach }}</div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <p>picture</p>
    </div>
</div>
{% endblock %}