{% extends "base.html" %}
{% load static %}
{% block title %}{{ club.name }}{% endblock %}

{% block content %}
{% with total_fans=club.fans.count fans=club.fans.all %}

<style>
    /* 添加你的自定义样式 */

    body {
        background-image: url("{% static './images/background2.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .club-info-container {
        margin-top: 20px;
        position: relative;
    }


    .club-info-header {
        margin-bottom: 20px;
    }
    .club-info-header h1 {
        font-family: Arial, sans-serif;
        font-size: 29px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .club-info-stats {
        margin-bottom: 20px;
    }

    .club-info-stats .glyphicon {
        margin-right: 5px;
        font-size: 12px;
    }

    .glyphicon_style {
        color: gold; /* 设置颜色为金色 */
    }

    .follower_font {
        font-family: sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #4879e0;
    }

    .club-info-details {
        margin-bottom: 20px;
    }

    .club-info-details .row {
        margin-bottom: 10px;
    }

    .club-info-details .col-md-4 {
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        color: #666;
    }

    .club-info-details .col-md-8 {
        font-size: 18px;
        text-align: left;
        color: #333;
    }

    .club-info-actions {
        margin-bottom: 20px;
    }

    .club-info-actions button {
        margin-right: 10px;
    }

    .club-info-followers {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #a0a5b1;
    }

    .club-info-followers p {
        margin-bottom: 5px;
    }

    .club-info-photo {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    }

    .club-info-photo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }


</style>

<div class="row text-center vertical-middle-sm club-info-container">
    <div class="club-info-header">
        <h1>{{ club.name }}社团的基本信息</h1>
    </div>

    <div class="row club-info-stats">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star glyphicon_style"></span>
            <span class="follower_font">{{ total_fans }} follower{{ total_fans | pluralize }}</span>
        </div>
    </div>

    <div class="row club-info-details">
        <div class="col-md-4"><span>社团名称：</span></div>
        <div class="col-md-8">{{ club.name }}</div>
    </div>

    <div class="row club-info-details">
        <div class="col-md-4"><span>社长姓名：</span></div>
        <div class="col-md-8">{{ club.lead_name }}</div>
    </div>

    <div class="row club-info-details">
        <div class="col-md-4"><span>社团编号：</span></div>
        <div class="col-md-8">{{ club.club_id }}</div>
    </div>

    <div class="row club-info-details">
        <div class="col-md-4"><span>团内人数：</span></div>
        <div class="col-md-8">{{ club.num_of_mem }}</div>
    </div>

    <div class="row club-info-details">
        <div class="col-md-4"><span>社团简介：</span></div>
        <div class="col-md-8">{{ club.Aboutme }}</div>
    </div>

    <div class="club-info-actions">
        <a href="{% url 'club:join_club' club.id %}">
            <button class="btn btn-primary btn-lg" style="margin-top: 20px; font-size: 24px; width: 180px;">我要加入!</button>
        </a>
        <p style="margin-top: 30px; font-size: 20px;">
            <a onclick="fan_Club({{ club.id }},'follow')" href="#" style="margin-right: 10px;">
                <span class="glyphicon glyphicon-thumbs-up" ></span>follow
            </a>
            <a onclick="fan_Club({{ club.id }},'unfollow')" href="#" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-thumbs-down"></span>unfollow
            </a>
        </p>
    </div>

    <div class="club-info-followers">
        {% for user in club.fans.all %}
        <p><strong>关注本社团的成员：</strong>{{ user.username }}</p>
        {% empty %}
        <p>还没有人关注此社团</p>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-6 club-info-photo">
            {% if club.photo %}
            <img name="club_face" src="{{ club.photo | striptags }}" class="img-circle" id="club_photo">
            {% else %}
            <img name="user_face" src="{% static 'images/face.jpg' %}" class="img-circle" id="my_photo">
            {% endif %}
        </div>
    </div>
</div>


<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    function fan_Club(id, action) {
        $.ajax({
            url: "{% url 'club:fan_Club' %}",
            type: "POST",
            data: { "id": id, "action": action },
            success: function (e) {
                if (e == "1") {
                    layer.msg("感谢关注！");
                    setTimeout(function() {window.location.reload();}, 2000); // 2000 毫秒等于 2 秒
                }
                else {
                    layer.msg("我会继续努力~");
                    setTimeout(function() {window.location.reload();}, 2000);
                }
            },
        });
    }


</script>
{% endwith %}
{% endblock %}
