<!--
 * @FileName: 
 * @Description: 
 * @Autor: Liujunjie/Aries-441
 * @StudentNumber: 521021911059
 * @Date: 2023-10-16 22:28:33
 * @E-mail: sjtu.liu.jj@gmail.com/sjtu.1518228705@sjtu.edu.cn
 * @LastEditTime: 2023-10-17 16:44:34
-->
{% extends "base.html" %}
{% load static %}
{%block title%}Create new club{% endblock %}
{% block content %}

<button onclick="goBack()">返回上一页</button>

<script>
    function goBack() {
    history.back(); 
    }   

    function validateForm() {
        var Ad_title = document.getElementsByName('title')[0].value.trim();
        var ad_content = document.getElementsByName('content')[0].value.trim();
        // 过滤并拦截特殊字符
        var regex = /[/?!*<>&"']/; // 可根据需要自定义特殊字符的正则表达式
        if (regex.test(Ad_title) || regex.test(ad_content)) {
          alert('请不要使用特殊字符如/?!*<>&\"\'');
          return false; // 阻止表单提交
        }
      
        return true; // 允许表单提交
      }
</script>

<div style="margin-left: 200px;margin-top: 10px">
    <form enctype="multipart/form-data" action="." method="post"onsubmit="return validateForm()">
        {% csrf_token %}
        <div style="margin-top: 10px">
            <div class="col-md-2 text-left"><span>广告标题：</span></div>
            <div class="col-md-10 text-left">{{ form.title }}</div>
        </div>
        <div style="margin-top: 20px">
            <div class="col-md-2 text-left"><span>广告内容：</span></div>
            <div class="col-md-10 text-left">{{ form.content }}</div>
        </div>
        <div style="margin-top: 20px">
            <div class="col-md-2 text-left"><span>上传视频：</span></div>
            <div class="col-md-10 text-left">{{ form.video }}</div>
        </div>
        <div style="margin-top: 20px">
            <div class="col-md-2 text-left"><span>上传附件：</span></div>
            <div class="col-md-10 text-left">{{ form.attach }}</div>
        </div>
        <div style="margin-top: 20px" class="text-center">
            <input type="submit" value="create Ad">
        </div>
    </form>
</div>

{% endblock %}