<!--
 * @FileName: 
 * @Description: 
 * @Autor: Liujunjie/Aries-441
 * @StudentNumber: 521021911059
 * @Date: 2023-10-16 22:28:33
 * @E-mail: sjtu.liu.jj@gmail.com/sjtu.1518228705@sjtu.edu.cn
 * @LastEditTime: 2023-10-17 16:44:34
-->
{% extends "base.html" %}
{% load static %}
{%block title%}Create new club{% endblock %}
{% block content %}

<button onclick="goBack()">返回上一页</button>

<style>
    body {
        background-image: url("{% static './images/background4.jpeg' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }

    .information {
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.7);
        border-radius: 10px;
        max-width: 600px;
    }
</style>



<script>
    function goBack() {
    history.back(); 
    }   

    function validateForm() {
        var Ad_title = document.getElementsByName('title')[0].value.trim();
        var ad_content = document.getElementsByName('content')[0].value.trim();
        // 过滤并拦截特殊字符
        var regex = /[/?!*<>&"']/; // 可根据需要自定义特殊字符的正则表达式
        if (regex.test(Ad_title) || regex.test(ad_content)) {
          alert('请不要使用特殊字符如/?!*<>&\"\'');
          return false; // 阻止表单提交
        }
      
        return true; // 允许表单提交
      }
</script>

<div class="information">
    <form enctype="multipart/form-data" action="." method="post"onsubmit="return validateForm()">
        {% csrf_token %}
        <div>
            <div style="margin-top: 20px ; font-size: 20px; font-weight: bold; font-family: STHupo;"><span>广告标题：</span></div>
            <div style="margin-left: 120px; margin-top: -25px">{{ form.title }}</div>
        </div>
        <div>
            <div style="margin-top: 20px ; font-size: 20px; font-weight: bold; font-family: STHupo;"><span >广告内容：</span></div>
            <div style="margin-left: 120px; margin-top: -25px">{{ form.content }}</div>
        </div>
        <div>
            <div style="margin-top: 20px ; font-size: 20px; font-weight: bold; font-family: STHupo;"><span>上传视频：</span></div>
            <div style="margin-left: 120px; margin-top: -25px">{{ form.video }}</div>
        </div>
        <div>
            <div style="margin-top: 20px ; font-size: 20px; font-weight: bold; font-family: STHupo;"><span>上传附件：</span></div>
            <div style="margin-left: 120px; margin-top: -25px">{{ form.attach }}</div>
        </div>
        <div style="margin-top: 30px; margin-left: 250px">
            <input type="submit" class="btn btn-primary btn-lg" value="create Ad">
        </div>
    </form>
</div>

{% endblock %}