{% extends "base.html" %}
{% load static %}
{% block title %}articles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ club.name }}已有活动👇</h1>
</div>
<div class="container">
    {% for activity in activities %}
    <div class="list-group">
        <a href="{% url 'club:activity_detail' activity.id  club.id %}" class="list-group-item active" style="margin-right: 100px">
            <h4 class="list-group-item-heading">{{ activity.name }}</h4></a>
            <p class="list-group-item-text">开始时间：{{ activity.begin_date | date:"Y-m-d H:m:s" }}</p>
            <p class="list-group-item-text">结束时间：{{ activity.end_date | date:"Y-m-d H:m:s" }}</p>
            <p class="list-group-item-text">概要：{{ activity.description |slice:'70'|linebreaks }}</p>
    </div>
    {% empty %}
    <h4 class="text-center">还没有活动捏~</h4>
    {% endfor %}
    {% include "paginator.html" %}
</div>

{% endblock %}