{% extends "base.html" %}
{% load static %}
{% block title %}articles{% endblock %}
{% block content %}

<style>
        .block {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            margin-bottom: 1px;
            margin-top: -15px;
            padding-top: 10px;
            border-top: 1.5px solid #e8e8e8;
        }

        .block1 {
            background-color: #ffffff;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-bottom: -5px;
            margin-top:3px;
        }

        .first_text {
            /* 文本的样式 */
            margin-right: 150px; /* 右侧的间距 */
            font-size: 17px;
        }

        .text {
            /* 文本的样式 */
            margin-right: 150px; /* 右侧的间距 */
            font-size: 17px;
            color: #fe7a16;
        }

        .last_text {
            /* 文本的样式 */
            margin-right: 150px; /* 右侧的间距 */
            font-size: 17px;
            color: #959595;
        }

        .self_button{
            display: flex;
            margin-right: 100px; /* 右侧的间距 */
            font-size: 14px;
            color: #959595;
            margin-bottom: 18px;
        }

        .icon1 {
            /* 图标样式 */
            display: inline-block;
            width: 25px; /* 设置图标的宽度 */
            height: 25px; /* 设置图标的高度 */
            vertical-align: middle; /* 垂直对齐方式设为居中 */
            background-size: cover;
            background-image: url("/static/images/up.png");
        }

        .icon2 {
            /* 图标样式 */
            display: inline-block;
            width: 25px; /* 设置图标的宽度 */
            height: 25px; /* 设置图标的高度 */
            vertical-align: middle; /* 垂直对齐方式设为居中 */
            background-size: cover;
            background-image: url("/static/images/down.png");
        }

</style>

<div class="text-center vertical-middle-sm" style="margin-left: 10px">
    <form class="form-horizontal" action="{% url 'club:list_club' %}" method="post">{% csrf_token %}
        <div class="row" style="display: flex">
            <div class="col-md-12 text-right"><span>请输入要搜索的社团名：</span></div>
            <div class="col-md-12 text-left" id="keyword">{{ search_form.keyword }}<input type="submit" value="搜索"></div>
        </div>
    </form>
</div>

<div class="first_header">{% include "kits/first_header2.html" %}</div>

    {% for club in clubs %}
        <div class="block">
            <div class="first_text">
                <a href="{% url 'club:club_detail' club.id %}">
                <h4 class="list-group-item-heading">{{ club.name }}</h4></a>
            </div>
            <div class="text"><p class="list-group-item-heading">社长：{{ club.lead_name }}</p></div>
            <div class="text">
                {% with total_fans=club.fans.count %}
                <p class="list-group-item-heading">{{ total_fans }}关注</p>
                {% endwith %}
            </div>
            <div class="last_text"><p class="list-group-item-heading">{{ club.Aboutme |slice:'70'|linebreaks }}</p></div>
        </div>

        <div class="block1">
            <div class="self_button">
                <span class="icon1"></span>
                <a onclick="fan_Club({{ club.id }},'follow')" href="#">follow</a>
            </div>
            <div class="self_button">
                <span class="icon2"></span><a onclick="fan_Club({{ club.id }},'unfollow')" href="#">unfollow</a>
            </div>
        </div>

    {% empty %}
    <div class="first_header">{% include "kits/footer.html" %}</div>
    {% endfor %}
    <div class="block"></div>
    {% include "paginator.html" %}


{% endblock %}