{% extends "base.html" %}
{% load static %}
{% block title %}articles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>已有社团👇</h1>
</div>
<div class="container">
    {% for club in clubs %}
    <div class="list-group">
        <a href="{% url 'club:club_detail' club.id %}" class="list-group-item active" style="margin-right: 100px">
            <h4 class="list-group-item-heading">{{ club.name }}</h4></a>
            <p class="list-group-item-text">社长：<a href="#">{{ club.lead_name }}</a></p>
            <p class="list-group-item-text">概要：{{ club.Aboutme |slice:'70'|linebreaks }}</p>
    </div>
    {% endfor %}
    {% include "paginator.html" %}
</div>

{% endblock %}