{% extends "base.html" %}
{% load static %}
{% block title %}articles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <div class="text-center vertical-middle-sm" style="margin-left: 10px">
    <form class="form-horizontal" action="{% url 'club:list_ads' club_id %}" method="post">{% csrf_token %}
        <div class="row" style="display: flex">
            <div class="col-md-12 text-right"><span>请输入要搜索的广告名：</span></div>
            <div class="col-md-12 text-left" id="keyword">{{ search_form.keyword }}<input type="submit" value="搜索"></div>
        </div>
    </form>
    </div>
    <h1>本社团已有广告👇</h1>
</div>
<div class="container">
    {% for ad in ads %}
    <div class="list-group">
        <a href="{% url 'club:ad_detail_owner' ad.id %}" class="list-group-item active" style="margin-right: 100px">
            <h4 class="list-group-item-heading">{{ ad.title }}</h4></a>
            <p class="list-group-item-text">内容：{{ ad.content |slice:'70'|linebreaks }}</p>
    </div>
    {% empty %}
    <h4 class="text-center">没有广告捏~</h4>
    {% endfor %}
    {% include "paginator.html" %}
</div>

{% endblock %}