{% extends "base.html" %}
{% load static %}
{% block title %}articles{% endblock %}
{% block content %}
<style>
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-left-arrow:before {
  content: "\2190";
}
</style>

<div class="row text-center vertical-middle-sm">
    <h1>{{ club.name }}的成员们</h1>
</div>
<div class="row">
    <a name="back" href="{% url 'club:manage_Myclub' %}"><span class="glyphicon glyphicon-left-arrow" style="margin-left: 20px"></span></a>
</div>
<div>
    <table class="table table-hover" style="margin-top: 10px">
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>是否为社长</td>
            <td>操作</td>
        </tr>
        {% for member in commons %}
        <tr id="{{ forloop.counter }}">
            <td>{{ forloop.counter }}</td>
            <td><a href="#">{{ member.username }}</a></td>
            {% if club.lead_name == member.username %}
            <td>是</td>
            {% else %}
            <td>否</td>
            {% endif %}
            <td>
                {% if forloop.counter == 1 %}
                <a name="leader" href="#"><span class="glyphicon glyphicon-apple" style="margin-left: 20px"></span></a>
                {% else %}
                <a name="delete" href="javascript:" onclick="delete_member({{ member.id}})"><span class="glyphicon glyphicon-trash" style="margin-left: 20px"></span></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="container">
    {% include "paginator.html" %}
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
    function delete_member(member_id){
        $.ajax({
            url: "{% url 'club:delete_member' club.id %}",
            type: "POST",
            data: {"member_id":member_id},
            success: function (e){
                if(e=="1"){
                    layer.msg("deleted~");
                    window.location.href = "{% url 'club:manage_member' club.id %}";
                }
                else{
                    layer.msg("error!");
                }
            },
        });
    }
</script>
{% endblock %}