{% extends "base.html" %}
{% load static %}
{% block title %}my information{% endblock %}
{% block content %}
<style>
    body {
        background-image: url("{% static './images/background3.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .information {
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.7);
        border-radius: 10px;
        max-width: 1000px;
    }

    .photo{
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 40px;

    }

    .photo-section {
        margin-bottom: 20px;
    }



    .button-section {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .information span{
        font-weight: bold;
        margin-left: 80px;
        margin-top: -60px;
    }

    .fontstyle{
        font-size: 20px;
        margin-bottom: 15px;
    }


</style>


<button onclick="goBack()">返回上一页</button>

<script>
function goBack() {
  history.back();
}
</script>

<div class="information">
    <h1 style="text-align: center; margin-bottom: 40px;">Edit {{ club.name }} の Information</h1>
    <div class="photo">
    <div class="photo-section">
                {% if club.photo %}
                <img src="{{ club.photo | striptags }}" class="img-circle" id="club_photo",name="club_face" width="300px" height="300px">
                {% else %}
                <img name="club_face" src="{% static 'images/genshin.png' %}" class="img-circle"  id="club_photo" width="300px" height="300px">
                {% endif %}
            </div>

    <div>
                <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">upload club's photo</button>
            </div>
        </div>

        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="fontstyle"><span>社团名：</span>{{ club_form.name }}</div>
            <div class="fontstyle"><span>社长：</span>{{ club.lead_name }}</div>
            <div class="fontstyle"><span>社团编号：</span>{{ club_form.club_id}}</div>
            <div class="fontstyle"><span>创建日期：</span>{{ club.created | date:"T-m-d H:m:s" }}</div>
            <div class="fontstyle"><span>社团人数：</span>{{ club.num_of_mem}}</div>
            <div class="fontstyle"><span>社团介绍：</span></div>
            <div class="fontstyle" style="margin-left: 80px;">{{ club_form.Aboutme }}</div>
            <div class="button-section">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="font-size:30px;" onclick="showSuccessMessage()">
            </div>

        </form>



</div>

<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>


<script>
    function upload_image_layer(){
        layer.open({
            title:"上传社团头像",
            area:['700px','650px'],
            type:2,
            content:"{% url 'club:club_image' club.id %}",
        });
    }

    function showSuccessMessage() {
        layer.msg("提交成功！");
        setTimeout(function() {window.location.reload();}, 2000);
    }

</script>
{% endblock %}

