{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}Message Information{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 text-right"><span>发信人：</span></div>
                <div class="col-md-8 text-left">{{ Message.sender.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>发信日期：</span></div>
                <div class="col-md-8 text-left">{{ Message.timestamp | timezone:"Asia/Shanghai" | date:"Y-m-d H:m:s"}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>信息内容：</span></div>
                <div class="col-md-8 text-left">{{ Message.content }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}