{% extends "base.html" %}
{% load static %}
{% block title %}My send{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我加入的社团👇</h1>
</div>
<div class="container">
    {% for club in clubs %}
    <div class="list-group">
        <a href="#" class="list-group-item active" style="margin-right: 100px">
            <h4 class="list-group-item-heading">社团名：{{ club.name }}</h4></a>
            <p class="list-group-item-text">社团介绍：{{ club.Aboutme |slice:'70'|linebreaks }}</p>
    </div>
    {% endfor %}
    {% include "paginator.html" %}
</div>

{% endblock %}>