<!--
 * @FileName: 
 * @Description: 
 * @Autor: Liujunjie/Aries-441
 * @StudentNumber: 521021911059
 * @Date: 2023-10-09 23:59:22
 * @E-mail: sjtu.liu.jj@gmail.com/sjtu.1518228705@sjtu.edu.cn
 * @LastEditTime: 2023-10-10 08:10:08
-->

{% extends "base_withoutheader.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>LoginLogin</h1>
    <p>Input your username and password</p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label"
                   style="color: red"><span glyphicon-floppy-open></span>Username</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label"
                   style="color: blue"><span glyphicon-floppy-open></span>Password</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Login">
    </form>
</div>
{% endblock %}