{% extends "base.html" %}
{% load static %}
{% block title %}my information{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Edit My Information</h1>
    <div class="col-md-6">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-4 text-right"><span>用户名：</span></div>
                <div class="col-md-8 text-left">{{ user.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>年龄：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.age }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>学院：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.school}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>专业：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.department }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>邮箱：</span></div>
                <div class="col-md-8 text-left">{{ user_form.email }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>手机号：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.phone }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>个人介绍：</span></div>
                <div class="col-md-8 text-left">{{ userinfo_form.aboutme }}</div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit">
            </div>
        </form>
    </div>
    <div class="photo-section">
        {% if userinfo.photo %}
        <img name="user_face" src="{{ userinfo.photo | striptags }}" class="img-circle" id="my_photo" width="100px" height="100px">
        {% else %}
        <img name="user_face" src="{% static 'images/genshin.png' %}" class="img-circle" id="my_photo" width="100px" height="100px">
        {% endif %}
    </div>
    <div class="button-section">
        <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">上传我的照片</button>
    </div>
</div>

<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>

<script>
    function upload_image_layer() {
        layer.open({
            title: "上传头像",
            area: ['700px', '650px'],
            type: 2,
            content: "{% url 'account:my_image' %}",
        });
    }

    window.addEventListener('DOMContentLoaded', function () {
        var aboutMeSpan = document.querySelector('.about-me');
        var aboutMeText = aboutMeSpan.textContent;
        var formattedText = formatText(aboutMeText, 40);
        aboutMeSpan.innerHTML = formattedText;
    });

    function formatText(text, maxLength) {
        var formattedText = '';
        while (text.length > maxLength) {
            formattedText += text.substr(0, maxLength) + '<br>';
            text = text.substr(maxLength);
        }
        formattedText += text;
        return formattedText;
    }
</script>
{% endblock %}