<!--
 * @FileName: 
 * @Description: 
 * @Autor: Liujunjie/Aries-441
 * @StudentNumber: 521021911059
 * @Date: 2023-10-09 23:59:22
 * @E-mail: sjtu.liu.jj@gmail.com/sjtu.1518228705@sjtu.edu.cn
 * @LastEditTime: 2023-10-14 15:38:22
-->
{%  extends "base_withoutheader.html"%}
{% block title %}password reset{% endblock %}
{% block content %}
<style>
    .full-screen {
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header {
        background-color: rgba(255,255,255,0);
        padding: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
</style>

  
<div class="header">  {% include "loginheadertest.html"%}</div>
<p style="margin-top: 200px"></p>
<div class="row text-center vertical-middle-sm">
    <h1>Forgotten your password? Reset,please!</h1>
    <p>Enter your email to set a new password.</p>
    <p style="margin-top: 10px"></p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="Send email" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}