{%  extends "base.html" %}
{% load static %}
{% block title %}Search User{% endblock %}
{% block content %}
<div class="text-center vertical-middle-sm" style="margin-left: 10px">
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="row" style="display: flex">
            <div class="col-md-12 text-right"><span>请输入要搜索的用户名：</span></div>
            <div class="col-md-12 text-left" id="keyword">{{ search_form.keyword }}</div>
            <div class="col-md-6"><input type="submit" value="搜索"></div>
        </div>
    </form>
</div>

{% if results %}
    <h3 class="text-left">搜索结果</h3>
    <ul class="list-group-item">
        {% for user in results %}
        <li><a href="{% url 'account:my_information' user.id %}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>查无此人~</h3>
{% endif %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
    function search(){
        var keyword = $("#keyword").val();
        $.ajax({
            url: "{% url 'account:search' %}",
            type: "POST",
            data: {"keyword":keyword},
            success: function (e){
                if(e=="1"){
                    layer.msg("查询不到用户~");
                }
                else{
                    layer.msg("表单错误！");
                }
            },
        });
    }
</script>
{% endblock %}