<!DOCTYPE html>
<html>
<head>
    <title>自定义块样式</title>
    <style>
        .first_header {
            background-color: #d8f4fc;
            color: #0e8ecf;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .first_header p {
            margin: 0 auto;
            font-size: 20px;
            padding-left: 5px;
        }

    </style>
</head>
<body>
    <div class="first_header" style="height: 35px;">
        <p>我管理的社团</p>
    </div>

</body>
</html>